<h1>About</h1>
<p>
	Pasteboard is a quick and simple image sharing web app driven and developed by me, Joel Besada. If you are a developer and would like to contribute to (or learn from) the source code of this app, make sure to check out the <a href="https://github.com/JoelBesada/pasteboard" target="__blank" data-track="Github (modal)">Github repo</a>.
</p>
<p>
	Images uploaded to Pasteboard are stored on the server for <strong>6 months</strong>, after which they will be deleted. Anything you upload is publically available but not broadcasted, meaning it is up to you to decide who you share the images with.
</p>
<p>
  Hotlinking is disabled, because that&#39;s just how I roll. (But also to keep the bandwidth costs down)
</p>
<h2>Terms</h2>
<p>
  By using Pasteboard to upload and share images, you agree to the terms outlined in this section.
</p>
<p>
  The images that you upload to Pasteboard are owned by you, and as such, all responsibility for your uploaded images is directed to you.
</p>
<p>
  Pasteboard prohibits posting of pornographic, gory, copyrighted or otherwise illegal/infringing material and images that violate other people's privacy &mdash; any uploaded images that go against these rules will be deleted on sight, and further measures to stop this activity will be taken.
</p>
<p>
  Pasteboard only supports uploading of images, uploading other types of content will be prevented by the web app. Do not attempt to circumvent these preventive measures. Any non-image content will be deleted on sight.
</p>
<p>
  <strong>TL;DR: Don&#39;t be a jerk and you&#39;ll be fine</strong>.
</p>
