<div class="image-editor">
	<div class="image-container" style="background-image: url(<%= url %>)" ></div>
	<div class="close-button"></div>
	<div class="horizontal-scroll-bar">
		<div class="track"></div>
		<div class="handle"></div>
	</div>
	<div class="vertical-scroll-bar">
		<div class="track"></div>
		<div class="handle"></div>
	</div>
</div>
