<div class="image-editor">
	<div class="image-container">
		<div class="image" style="background-image: url(<%= url %>)"></div>
	</div>
	<div class="close-button"></div>
	<div class="y-scroll-bar">
		<div class="track">
			<div class="handle"></div>
		</div>
	</div>
	<div class="x-scroll-bar">
		<div class="track">
			<div class="handle"></div>
		</div>
	</div>
	<button class="button upload-button">Upload</button>
</div>
