<!DOCTYPE html>
<html>
  <head>
    <title>Pasteboard &mdash; Uploaded Image</title>
    <meta name="description" content="Super simple and lightning fast image uploads using Copy &amp; Paste or Drag &amp; Drop">
    <%- css("image") %>
    <%- js("head") %>
  </head>
  <body>
    <canvas class="shadow"></canvas>
    <div class="image-container">
      <img src="<%= imageURL %>" alt="uploaded image" class="image" onerror="brokenLink()">
    </div>
    <div class="broken-link">Image not found</div>
    <div class="about">
      <h1 class="title"><a href="/">Pasteboard</a></h1>
      <span class="author">By <a href="https://twitter.com/JoelBesada">@JoelBesada</a></span>
      <a href="/" class="button confirm">Upload an Image</a>
    </div>
    <%- js("image") %>
  </body>
</html>