<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- css("style") %>
    <script type="text/javascript" src="javascripts/prefixfree.min.js"></script>
  </head>
  <body>
  	<section class="splash">
      <div class="splash-instructions">
        <div class="splash-image">
        <div class="image-regular"></div>
        <div class="image-shine"></div>  
        </div>
        <p>
          Copy & Paste / Drag & Drop
        </p>
      </div>
  		
      <div class="author">By <a href="https://twitter.com/JoelBesada">@JoelBesada</a></div>
  	</section>
  	<%- js("script") %>
  </body>
</html>