<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- css("style") %>
    <script type="text/javascript" src="javascripts/prefixfree.min.js"></script>
    <!-- DEV Deploy succeeded! -->
  </head>
  <body>
    <div class="drag-overlay"></div>
  	<div class="splash">
  		<div class="splash-image">
        <div class="image-regular"></div>
        <div class="image-shine"></div>  
      </div>
  		<p class="splash-instructions">
  			Copy & Paste / Drag & Drop
  		</p>
  	</div>
  	<%- js("script") %>
  </body>
</html>