<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- css("style") %>
    <script type="text/javascript" src="javascripts/prefixfree.min.js"></script>
    <!-- Globals -->
    <script type="text/javascript">
      window.SOCKET_PORT = <%= port %>;
    </script>
  </head>
  <body>
    <canvas class="shadow"></canvas>
    <section class="splash">
      <div class="splash-instructions">
        <div class="splash-image">
        <div class="image-regular"></div>
        <div class="image-shine"></div>  
        </div>
        <p>
          Copy & Paste / Drag & Drop
        </p>
      </div>
    </section>
    <a href="https://github.com/JoelBesada/pasteboard" class="source button"><span class="icon"></span>Source</a>
    <div class="about">
      <h1 class="title">Pasteboard</h1>
      <span class="author">By <a href="https://twitter.com/JoelBesada">@JoelBesada</span>
    </div>
  	<%- js("script") %>
  </body>
</html>