<!DOCTYPE html>
<html>
  <head>
    <title>Pasteboard &mdash; Easy Image Uploads</title>
    <meta name="description" content="Super simple and lightning fast image uploads using Copy &amp; Paste or Drag &amp; Drop">
    <%- css("main") %>
    <script type="text/javascript" src="javascripts/prefixfree.min.js"></script>
    <!-- Globals -->
    <script type="text/javascript">
      window.SOCKET_PORT = <%= port %>;
    </script>
  </head>
  <body>
    <canvas class="shadow"></canvas>
    <section class="splash">
      <div class="splash-instructions">
        <div class="splash-image">
        <div class="image-regular"></div>
        <div class="image-shine"></div>  
        </div>
        <p>
          <span class="copyandpaste">Copy &amp; Paste</span> or <span class="draganddrop">Drag &amp; Drop</span> <br>
          <span class="sub-text">the image you want to upload.</span> 
        </p>
      </div>
      <div class="not-supported">
        <p>
          This browser is not supported because of missing HTML5 features.
        </p>
      </div>
    </section>
    <a href="https://github.com/JoelBesada/pasteboard" class="source button"><span class="icon"></span>Source</a>
    <div class="about">
      <h1 class="title">Pasteboard</h1>
      <span class="author">By <a href="https://twitter.com/JoelBesada">@JoelBesada</a></span>
    </div>
  	<%- js("main") %>
  </body>
</html>