// NOTE: Vendor prefixes are automatically added with -prefix-free (http://leaverou.github.com/prefixfree/)
@import "common.less";
html {
	height: 100%;
	width: 100%;
	min-height: 600px;
	min-width: 600px;
}
body {
	position: relative;
	height: 100%;
	width: 100%;
	min-height: 600px;
	min-width: 600px;
	overflow: auto;

	&.loaded {
		transition: background-color 1s;
	}

	&.dragging {
		background-color: lighten(@background-color, 15%);
	}
}

.welcome {
	display: none;
	padding: 10px;
	width: 100%;
	background: green;
	position: fixed;
	opacity: 0;
	top: -50px;
	color: white;
	background-color: #4D99B6;
	text-shadow: 0 2px 1px rgba(0,0,25,0.3);
	border-bottom: 1px solid darken(#4D99B6, 20%);
	box-shadow: 0 4px 10px rgba(0,0,25,0.1);
	transition: all 1s;
}
.drop-area {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
}

.splash {
	width: 100%;
	height: 100%;
	opacity: 0;
	animation: fadeIn 1.5s both;
	.no-cssanimations & { opacity: 1 }

	p {
		font-size: 28px;
		font-weight: bold;
		line-height: 1.6em;
		text-shadow: 0 1px 1px rgba(255,255,255,0.12);
	}

	.splash-instructions {
		position: absolute;
		height: 350px;
		width: 580px;
		left: 50%;
		top: 50%;
		margin-top: -175px;
		margin-left: -290px;
		text-align: center;

		.no-draganddrop-pb.no-copyandpaste & {
			display: none;
		}

		.splash-image {
			position: relative;
			width: 300px;
			height: 280px;
			margin: 0 auto;

			.image-regular, .image-shine {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-size: 100%;
				background-repeat: no-repeat;
			}

			.image-regular {
				background-image: url("../images/splash-image.png");
			}

			.image-shine {
				opacity: 0;
				background-image: url("../images/splash-image-shine.png");

				.loaded & {
					transition: opacity 1s;
				}

				.dragging & {
					opacity: 1;
				}
			}
		}

		p {
			margin-top: 5px;
			line-height: 1.4em;

			.sub-text {
				font-size: 0.7em;
				opacity: 0.6;
			}

			.no-copyandpaste & {
				.copyandpaste {
					text-decoration: line-through;
					opacity: 0.4;
				}
			}

			.no-draganddrop-pb & {
				.draganddrop {
					text-decoration: line-through;
					opacity: 0.4;
				}
			}

			.loaded & {
				transition-property: text-shadow, color;
				transition-duration: 1s;
			}

			.dragging & {
				color: @text-highlight-color;
				text-shadow: 0 0 10px white;
			}
		}
	}

	.not-supported {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -150px;
		margin-left: -250px;
		height: 300px;
		width: 500px;

		.no-draganddrop-pb.no-copyandpaste & {
			display: block;
		}
	}
}

.webcam-button {
	@width: 120px;
	display: none;
	position: absolute;
	z-index: 11;
	bottom: 30px;
	width: @width;
	left: 50%;
	margin-left: -(@width / 2);
	vertical-align: top;
	padding: 0;
	height: 40px;
	text-align: left;

	.icon {
		display: inline-block;
		background-image: url("../images/webcam-icon.png");
		background-size: 35px;
		width: 35px;
		height: 35px;
		opacity: 0.5;
		margin: 1px 3px 0px 5px;
	}

	.text {
		position: relative;
		top: -0.7em;
	}
}

.link-bar {
	position: absolute;
	z-index: 11;
	left: 20px;
	width: 40px;
	bottom: 20px;
	text-align: left;

	.button {
		position: relative;
		display: block;
		width: 35px;
		height: 35px;
		margin: 8px 0;
		color: rgba(255,255,255,0);
		text-decoration: none;
		text-shadow: none;
		overflow: hidden;

		.loaded & {
			transition-property: color, width, background-color;
			transition-duration: 0.4s;
			transition-delay: 0s, 0.4s, 0.4s;
		}
		.icon {
			transition: all 0.4s 0.4s;
			opacity: 0.5;
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-size: 35px;
			background-repeat: no-repeat;
			background-position: center;
		}
		&:hover, &:active {
			opacity: 1;
			width: 80px;
			color: #eee;
			transition-delay: 0.4s, 0s, 0s;

			.icon {
				opacity: 0;
				transition-delay: 0s;
			}
		}

		&.tweet {
			.icon {
				background-image: url("../images/twitter-icon.png");
			}
		}
		&.show-about {
			.icon {
				background-image: url("../images/about-icon.png");
			}
		}
		&.show-uploads {
			.icon {
				background-image: url("../images/uploads-icon.png");
			}
			.num {
				position: absolute;
				color: white;
				opacity: 0.5;
				font-size: 11px;
				left: 0;
				width: 100%;
				margin-top: 1px;
				padding-right: 2px;
				text-align: center;
				transition: all 0.4s 0.4s;

				transition: all 0.4s 0.4s;
			}
			&:hover, &:active {
				width: 93px;
				.num {
					opacity: 0;
					transition-delay: 0s;
				}
			}
		}
	}
}

.modal .uploads {
	width: 450px;

	h1 {
		font-size: 1.6em;
		margin-top: 0.2em;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		margin-bottom: 10px;
	}

	li {
		display: inline-block;
		width: 150px;
		height: 100px;
		margin: 10px;
	}

	a {
		display: block;
		width: 100%;
		height: 100%;

		background-repeat: no-repeat;
		background-size: 100%;
		background-position: 50% 50%;

		box-shadow: 0 0 10px rgba(0,0,25,0.7);

		transition: box-shadow 0.15s;

		&:after {
			content: "";
			display: block;
			background: rgba(255,255,255,0.05);
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 0.15s;
		}

		&:hover {
			box-shadow: 0 0 20px rgba(0, 0, 25, 0.9);
		}

		&:active {
			position: relative;
			top: 1px;
		}

		&:hover:after {
			opacity: 1;
		}

	}
}

.webcam-window {
	position: absolute;
	animation: fadeInScale 0.5s;
	top: 0;
	left: 0;

	video {
		box-shadow: 0 0 20px rgba(0,0,25,0.7);
		animation: shadow 0.5s both;
	}

	.action-bar {
		position: absolute;
		top: 105%;
		width: 100%;

		button {
			margin-left: 5px;
		}
	}
}

.image-editor {
	position: relative;
	margin: 0 auto;
	animation: fadeInScale 0.5s;

	.image-container {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: #eee;

		// Checkerboard background
		background-image: url("../images/image-bg.gif");

		box-shadow: 0 0 20px rgba(0,0,25,0.7);
		animation: shadow 0.5s both;

		.image {
			position: relative;
			cursor: crosshair;

			.crop-selection {
				position: absolute;
				opacity: 0;
				background-image: inherit;
				box-shadow: 0 0 15px 3px rgba(0,0,5,0.9),
							inset 0 0 2px rgba(255,255,255,0.2),
							inset 0 1px 1px rgba(255,255,255,0.2);
				transition: opacity 0.25s;
			}
			.crop-overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				background-image: inherit;
				transition: opacity 0.5s;

				// -prefix-free doesn't prefix filters
				-webkit-filter: grayscale(1);
				-moz-filter: grayscale(1);
				-ms-filter: grayscale(1);
				-o-filter: grayscale(1);
				filter: grayscale(1);

				&:after {
					content: "";
					position: absolute;
					display: block;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,25,0.3);
				}
			}
		}
		.instructions {
			position: absolute;
			bottom: 10px;
			margin: 0;
			left: 20px;
			list-style-type: none;
			text-align: left;
			background-color: black;
			background-color: rgba(0,0,0,0.8);
			padding: 5px 15px;
			border-radius: 40px;
			color: white;
			text-shadow: none;
			animation: fadeInScale 0.5s 1s backwards, fadeOut 2s 5s forwards;
			li {
				height: 35px;
			}
			.crop {
				.icon {
					display: inline-block;
					background-image: url("../images/crop-icon.png");
					background-size: 35px;
					width: 35px;
					height: 35px;
				}
				.text {
					position: relative;
					top: -0.7em;
					margin: 0 5px;
				}
			}
		}
	}


	.x-scroll-bar, .y-scroll-bar {
		display: none;
		position: absolute;

		.track {
			position: relative;
			background-color: darken(@background-color, 30%);
			border-radius: 7px;
			overflow: hidden;
			border: 1px solid black;
			padding: 2px;
			box-shadow: 1px 1px 1px rgba(255,255,255,0.10),
						0 0 5px rgba(255,255,255, 0.05),
						inset 0 0 5px rgba(0,0,0,0.5),
						inset 5px 5px 10px rgba(0,0,0,0.3);
			.handle {
				position: relative;
				background-color: @background-color;
				border-radius: 4px;
				background-image: linear-gradient(transparent, rgba(0,0,0,.2));
				box-shadow: inset 1px 1px 0 rgba(255,255,255,0.15),
							inset 0 0 5px rgba(255,255,255, 0.05),
							0 0 5px rgba(0,0,0,0.5),
							3px 3px 3px rgba(0,0,0,0.5);

			}
		}
	}

	.x-scroll-bar {
		bottom: 0;
		height: 50px;
		width: 100%;

		.track {
			width: 95%;
			height: 14px;
			margin-left: 2.5%;
			margin-top: 20px;

			.handle {
				height: 8px;
			}
		}
	}

	.y-scroll-bar {
		right: 0;
		top: 0;
		width: 50px;
		height: 100%;

		.track {
			height: 95%;
			width: 14px;
			top: 2.5%;
			margin-left: 20px;

			.handle {
				width: 8px;
				background-image: linear-gradient(0deg, transparent, rgba(0,0,0,.2));
			}
		}
	}

	&.scroll-x {
		.x-scroll-bar {
			display: block;
		}
	}

	&.scroll-y {
		.y-scroll-bar {
			display: block;
		}
	}

	&.scroll-x.scroll-y {
		.x-scroll-bar {
			padding-right: 50px;
		}
		.y-scroll-bar {
			padding-bottom: 50px;
		}
	}

	.action-bar {
		position: absolute;
		top: 105%;
		width: 100%;
		min-width: 150px;

		.confirm {
			font-size: 18px;
			width: 100px;
			height: 40px;
			overflow: hidden;

			span {
				display: inline-block;
			}
		}

		.cancel {
			width: 32px;
			height: 32px;
			vertical-align: top;
			margin: 5px;
			text-indent: -9999px;

			background-image: url("../images/delete-icon.png");
			background-repeat: no-repeat;
			background-size: 18px 18px;
			background-position: center;
		}
	}

	&.cropped {
		.image-container .image {
			.crop-overlay, .crop-selection {
				opacity: 1
			}
		}
	}

}

@keyframes showLinkWrapper {
	30% {
		opacity: 0;
		height: 30px;
	}
	100% {
		opacity: 1;
		height: 30px;
		padding-top: 5px;
	}
}

@keyframes showLink {
	0% {
		opacity: 0;
		width: 0;
		color: rgba(255,255,255,0);
	}
	80% {
		width: 300px;
		color: rgba(255,255,255,0);
	}
}

@keyframes showActionBar {
	30% {
		height: 35px;
		margin-top: 15px;
	}
	60% {
		height: 35px;
		margin-top: 15px;
		opacity: 0;
	}
	100% {
		height: 35px;
		margin-top: 15px;
		opacity: 1;
	}
}

@keyframes pulse {
	33% {
		opacity: 0.5;
	}
	66% {}
}

@keyframes uploadShowLink {
	0% {
		color: rgba(255,255,255,0);
	}
	80% {
		height: 24px;
		color: rgba(255,255,255,0);
	}
	100% {
		height: 24px;
	}
}
