@import "../stylesheets/normalize.css";

@background-color: #242424;
@text-color: #040404;
@font-stack: 'Droid Sans', sans-serif;

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMQFhaRv2pGgT5Kf0An0s4MM.woff) format('woff');
}

::selection {
	background: transparent;
}
* { box-sizing: border-box; }
body {
	background: @background-color;
	background-image: url("../images/bg.gif");

	font-family: @font-stack;
	text-align: center;
	color: @text-color;
	overflow: hidden;

	&.loaded {
		.splash {
			.splash-image .image-shine {
				transition: opacity 1s;
			}
			.splash-instructions p {
				transition-property: text-shadow, color;
				transition-duration: 1s;
			}
		}
		.drop-area {
			transition: box-shadow 0.75s;
		}
		.author a {
			transition-property: text-shadow, color;
			transition-duration: 0.35s;
		}
	}

	&.dragging {
		.splash {
			.splash-image .image-shine {
				opacity: 1;
			}
			.splash-instructions p {
				color: #eee;
				text-shadow: 0 0 10px white;
			}
		}
		.drop-area {
			box-shadow: inset 0 0 80px rgba(255,255,255, 0.5);
		}
	}

}

.button {
	padding: 0.5em 1em;
	border-radius: 3px;

	color: #eee;
	text-shadow: 0 1px 0 black;
	font-family: @font-stack;

	background: rgba(67, 67, 67, 0.8);
	background-image: linear-gradient(transparent, rgba(0,0,0,.2));
	border: 1px solid #111;
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.15),
				inset 0 0 5px rgba(255,255,255, 0.05),
				0 0 5px rgba(0,0,0,0.5),
				0 5px 10px rgba(0,0,0,0.3);

	transition: background-color 0.15s; 

	&:hover {
		background-color: rgba(87, 87, 87, 0.8);
	}

	&:active {
		transition: none;
		background: rgba(47, 47, 47, 1);

		box-shadow: 0 1px 1px rgba(255,255,255,0.10),
					0 0 5px rgba(255,255,255, 0.05),
					inset 0 0 5px rgba(0,0,0,0.5),
					inset 0 5px 10px rgba(0,0,0,0.3);
	}
}

.shadow {
	position: absolute;
	top: 0;
	left: 0;
}

.drop-area {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
}

.splash {
	width: 100%;
	height: 100%;

	.splash-instructions {
		position: absolute;
		height: 350px;
		width: 580px;
		left: 50%;
		top: 50%;
		margin-top: -175px;
		margin-left: -290px;
		text-align: center;

		.splash-image {
			position: relative;
			width: 300px; 
			height: 300px; 
			margin: 0 auto;

			.image-regular, .image-shine {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-size: 100%;
			
				.-moz- &, .-ms- &, .-o- & {
					background-size: 100%;
				}
			}


			.image-regular {
				background: url("../images/splash-image.png") no-repeat;
			}

			.image-shine {
				opacity: 0;
				background: url("../images/splash-image-shine.png") no-repeat;
			}
		}

		p {
			font-size: 28px;
			font-weight: bold;
			text-shadow: 0 1px 1px rgba(255,255,255,0.12);
			margin-top: 5px;

		}
	}

}

.author {
	position: absolute;
	z-index: 11;
	bottom: 20px;
	right: 30px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.12);

	a {
		color: @text-color;
		text-decoration: none;
		font-weight: bold;

		&:hover {
			color: #eee;
			text-shadow: 0 0 5px rgba(255,255,255,0.7);
		}
	}
}
	
.image-editor {
	position: relative;
	margin: 0 auto;
	margin-top: -50px;
	animation: fadeIn 0.5s;

	.image-container {
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: #eee;
		
		// Checkerboard background
		background-image: linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), 
						  linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb);
		background-size: 20px 20px;
		background-position:0 0, 10px 10px;

		box-shadow: 0 0 20px rgba(0,0,0,0.7);
		animation: shadow 0.5s both;

		.image {
			position: relative;
			transform: translateZ(0); // GPU acceleration!
		}
	}

	.x-scroll-bar, .y-scroll-bar {
		display: none;
		position: absolute;

		.track {
			position: relative;
			background: #111;
			border-radius: 7px;
			overflow: hidden;
			border: 1px solid black;
			padding: 2px;
			box-shadow: 1px 1px 1px rgba(255,255,255,0.10),
						0 0 5px rgba(255,255,255, 0.05),
						inset 0 0 5px rgba(0,0,0,0.5),
						inset 5px 5px 10px rgba(0,0,0,0.3);
			.handle {
				position: relative;
				background: #444;
				border-radius: 4px;
				background-image: linear-gradient(transparent, rgba(0,0,0,.2));
				box-shadow: inset 1px 1px 0 rgba(255,255,255,0.15),
							inset 0 0 5px rgba(255,255,255, 0.05),
							0 0 5px rgba(0,0,0,0.5),
							3px 3px 3px rgba(0,0,0,0.5);

			}
		}
	}

	.x-scroll-bar {
		bottom: 0;
		height: 50px;
		width: 100%;
		padding-right: 50px;

		.track {
			width: 95%;
			height: 14px;
			margin-left: 2.5%;
			margin-top: 20px; 

			.handle {
				height: 8px;
			}
		}
	}

	.y-scroll-bar {
		right: 0;
		top: 0;
		width: 50px;
		height: 100%;
		padding-bottom: 50px;

		.track {
			height: 95%;
			width: 14px;
			top: 2.5%;
			margin-left: 20px; 

			.handle {
				width: 8px;
				background-image: linear-gradient(0deg, transparent, rgba(0,0,0,.2));
			}
		}
	}

	&.scroll-x {
		.x-scroll-bar {
			display: block;
		}
	}

	&.scroll-y {
		.y-scroll-bar {
			display: block;
		}
	}

	.action-bar {
		position: absolute;
		top: 105%;
		width: 100%;

		.upload-button {
			@base-color: #0D550D;

			font-size: 18px;
			background: @base-color;
			border-color: darken(@base-color, 30%);

			&:hover {
				background-color: lighten(@base-color, 5%);
			}

			&:active {
				background-color: darken(@base-color, 5%);
			}
		}

		.delete-button {
			@base-color: #5F1414;

			width: 32px;
			height: 32px;
			vertical-align: top;
			margin: 5px;

			background: @base-color;
			border-color: darken(@base-color, 30%);

			text-indent: -9999px;
			background-image: url("../images/delete-icon.png");
			background-repeat: no-repeat;
			background-size: 18px 18px;
			background-position: center;

			&:hover {
				background-color: lighten(@base-color, 5%);
			}

			&:active {
				background-color: darken(@base-color, 5%);
			}
		}
	}

}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
}

@keyframes shadow {
	0% {
		box-shadow: none;
	}
}